<% include partials/header.ejs %>

<div class="container">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" name="name"
               placeholder="name">
    </div>
    <button type="button" id="btnRegister" class="btn btn-primary">Register</button>
    <button disabled type="button" id="btnNextTurn" class="btn btn-primary">Next Turn</button>
</div>


<% include partials/footer.ejs %>