<% include partials/header.ejs %>
<!--
<div class="container">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" name="name"
               placeholder="name" autofocus>
    </div>

    <div class="form-group">
        <label for="card">Card to play</label>
        <input id="card" type="text" class="form-control" name="card"
               placeholder="card index to play">
    </div>
    <button type="button" id="btnRegister" class="btn btn-primary">Register</button>
    <button disabled type="button" id="btnPlayCard" class="btn btn-primary">Play Card</button>

    <div id="output" class="output">
        <div id="pane"></div>
    </div>
</div>
-->
<!--<div class="not-supported">-->
  <!--<div class="ui container">-->
    <!--<div class="not-supported-box">-->
      <!--<h2 class="ui center aligned icon header">-->
        <!--<i class="circular frown icon"></i>-->
        <!--Sorry, dein Bildschirm ist zu klein.-->
      <!--</h2>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!-- ===========================-->
<!-- LOGIN FORM -->
<!-- ===========================-->
<div class="login">
  <div class="ui container">
    <div class="login-box">
        <h2 class="ui header">Registration</h2>
        <div class="ui fluid form">
          <div class="field">
            <input id="name" autofocus type="text" placeholder="Username">
            <div class="ui pointing label">
              Please enter your username.
            </div>
          </div>
        </div>
        <button id="btnRegister" class="fluid ui green button">Join game</button>

    </div>
  </div>
</div>

<!-- ===========================-->
<!-- PLAYERS DISPLAY -->
<!-- ===========================-->
<div class="ui container">
  <div class="ui grid">
    <div class="four column row">
      <div class="column">
        <div class="center-user-image">
          <div class="ui small image">
          <div class="ui yellow ribbon label">
            <i class="chess king icon"></i> Winner
          </div>
          <a class="ui green right corner label hidden playersIcon">
            <i class="bullseye icon"></i>
          </a>
          <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="userItem">
            <div class="title">Domink</div>
            <div class="ui yellow horizontal label">20%</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="center-user-image">
          <div class="ui small image">
          <div class="ui black ribbon label hidden">
            <i class="chess king icon"></i> Winner
          </div>
          <a class="ui green right corner label hidden playersIcon">
            <i class="bullseye icon"></i>
          </a>
          <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="userItem">
            <div class="title">Domink</div>
            <div class="ui yellow horizontal label">20%</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="center-user-image">
          <div class="ui small image">
          <div class="ui black ribbon label hidden">
            <i class="chess king icon"></i> Winner
          </div>
          <a class="ui green right corner label hidden playersIcon">
            <i class="bullseye icon"></i>
          </a>
          <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
        <div class="userItem">
          <div class="title">Domink</div>
          <div class="ui yellow horizontal label">20%</div>
        </div>

        </div>
      </div>
      <div class="column">
        <div class="center-user-image">
          <div class="ui small image">
          <div class="ui black ribbon label hidden">
            <i class="chess king icon"></i> Winner
          </div>
          <a id="userYourTurn" class="ui green right corner label hidden playersIcon">
            <i class="bullseye icon"></i>
          </a>
          <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="userItem">
            <div class="title">Domink</div>
            <div class="ui yellow horizontal label">20%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ===========================-->
  <!-- CARDS DISPLAY -->
  <!-- ===========================-->
  <div class="ui grid">
    <div class="twelve wide column">
        <div id="pane" class="ui green message">Anna spielt.</div>
        <div class="ui segment dp-item">
          <h2 class="ui floated header ">Cards in game</h2>
          <div class="ui clearing divider"></div>

          <!-- ===========================-->
          <!-- CARDS IM SPIEL -->
          <!-- ===========================-->
          <div id="cardsInRound">

              <li>
                <img src="./images/png/1A.png">
                <div class="cardMember">Dominik</div>
              </li>
              <li>
                <img src="./images/png/1A.png">
                <div class="cardMember">Dominik</div>
              </li>


          </div>

          <div class="ui clearing divider"></div>
          <button class="ui green button">Card seeding</button>
      </div>
      <div class="ui segment dp-item">
        <!-- ===========================-->
        <!-- MEINE KARTEN -->
        <!-- ===========================-->
        <h2 class="ui floated header">My cards</h2>
        <div class="ui clearing divider"></div>
        <div id="myCards"></div>
        <div class="ui clearing divider"></div>
        <button id="btnPlayCard" disabled class="ui green button">Play card</button>
      </div>
    </div>
    <div class="four wide column">
      <div id="userPane" class="ui grey inverted segment">

      </div>
      <div class="ui segments">
        <div class="ui segment">
          <p>Top</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Bottom</p>
        </div>
      </div>
      <div class="ui segment">

        <button class="fluid ui green button" id="btnNeuesSpiel">New game</button>
              <div class="ui clearing divider"></div>
          <button class="fluid ui red button">End game</button>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
