
    body > .ui.container {
      margin-top: 3em;
    }

    .center-user-image {
      display: block;
      margin: 0px auto;
      text-align: center;
      width: 100px;
    }

    iframe {
      border: none;
      width: calc(100% + 2em);
      margin: 0em -1em;
      height: 300px;
    }
    iframe html {
      overflow: hidden;
    }
    iframe body {
      padding: 0em;
    }

    .ui.container > h1 {
      font-size: 3em;
      text-align: center;
      font-weight: normal;
    }
    .ui.container > h2.dividing.header {
      font-size: 2em;
      font-weight: normal;
      margin: 4em 0em 3em;
    }

    .ui.table {
      table-layout: fixed;
    }

    .dp-item ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .dp-item li{
      display: inline-block;
      cursor: pointer;
    }

    .login{
      background: #21ba45;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100vh;
      z-index: 100;
      position: fixed;
    }

    .login .login-box{
      position: relative;
      top: 50vh;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 5px;
      padding: 50px;
      box-shadow: -7px -5px 11px #0000002e, 2px 3px 11px #0000002e;
    }
    .login-box .button{
      margin-top: 25px;
    }

    .userItem{
      padding: .5rem 0;
      text-align: center;
      background: #f7f7f7;
      border: 1px solid #d0d0d0;
      border-radius: 0px 0px 2px 2px;
    }
    .userItem .title{
      padding-bottom: .25rem;
    }


  .cardMember {
    background-color: #f7f7f7;
    padding: .5rem .5rem;
    text-align: center;
    border: 1px solid #d0d0d0;
    color: #909291;
    border-radius: 5px;
  }

   li.cardsAllowed img{
     width: 80px;
   }

    #myCards.notYourTurn li img {
      opacity: .4;
      cursor: not-allowed;
    }

   #yourCars li img, #cardsInRound li img{
     width: 80px;
   }

    /*.not-supported{*/
      /*background: #fff;*/
      /*top: 0px;*/
      /*left: 0px;*/
      /*width: 100%;*/
      /*height: 100vh;*/
      /*z-index: 9999;*/
      /*position: fixed;*/
    /*}*/


    /*.not-supported .not-supported-box{*/
      /*position: relative;*/
      /*top: 50vh;*/
      /*transform: translateY(-50%);*/
    /*}*/


    /*@media screen and (min-width: 750px){*/
      /*.not-supported{*/
        /*display: none;*/
      /*}*/
    /*}*/
